<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <a class="navbar-brand" href="">
    <%= image_tag("vive_brand.png", :alt => "Vive movilidad") %>
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <% if user_signed_in? %>
          <% if current_user.has_role? :MasterAdmin %>
            <%= link_to rails_admin_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button' do %>Go to Dashboad<% end %>
          <% end %>
          <% if current_user.has_role? :Admin %>
            <%= link_to rails_admin_path, class: 'btn btn-outline-success my-2 my-sm-0 margin_button' do %>Go to Dashboad<% end %>
          <% end %>
          <%= link_to('Edit registration', edit_user_registration_path, class: 'btn btn-outline-info my-2 my-sm-0 margin_button') %>
          <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-outline-danger my-2 my-sm-0 margin_button', :method => :delete) %>
        <% else %>
          <%= link_to('Register', new_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0 margin_button')  %>
          <%= link_to('Login', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0 margin_button')  %>
        <% end %>
      </form>
  </div>
</nav>