<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <a class="navbar-brand" href="">
    <%= image_tag("vive_brand.png", :alt => "Vive movilidad") %>
  </a>

  <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Email">
        <input class="form-control mr-sm-2" type="text" placeholder="Password">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sign in</button>

        <% if current_user.nil? %>
          <%= link_to new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0' do %>Sign in<% end %>
        <% else %>
          <!-- link_to app_dashboard_index_path -->
          <%= link_to new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0' do %>Go to Dashboad<% end %>
        <% end %>

        <% if user_signed_in? %>
          <%= link_to('Edit registration', edit_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0') %>
          <%= link_to('Logout', destroy_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0', :method => :delete) %>
        <% else %>
          <%= link_to('Register', new_user_registration_path, class: 'btn btn-outline-success my-2 my-sm-0')  %>
          <%= link_to('Login', new_user_session_path, class: 'btn btn-outline-success my-2 my-sm-0')  %>
        <% end %>
      </form>
  </div>
</nav>